<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>オーサカgeeker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="minono.css">
  </head>
  <body>
    <div class="c-container">   <!-- 全体 -->

      <div class="c-container--lead">
        <div class="c-title">
          <div class="c-bg c-bg__top">
            たこさんのイラストとオーサカgeeker
          </div>
        </div>
      </div>

      <div class="c-container--btn">
        <a href class="c-button">使ってみよか！</a>
      </div>


    </div>

  </body>
</html>
