<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>オーサカGEEKER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="main">   <!-- 全体 -->

      <div class="c-container--lead">
        <div class="c-title">
          <img class="c-bg c-bg__top" src="/static/img/trunk_top.png"></img>

        </div>
      </div>

      <div class="c-container--btn">
        <a href class="c-button">使ってみよか！</a>
      </div>

      <div class="c-container--intro">
        <p>ああああああああああああああ</p>
      </div>

    </div>

  </body>
</html>
