<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>オーサカGEEKER</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="main">   <!-- 全体 -->

      <div class="c-container--main">
        <div class="c-rank">
          <img class="c-bg c-bg__rank" src="/static/img/rank_1.png"></img>
        </div>
        <div class="c-rank--name">
            どえらいぎーく！！
        </div>
      </div>

      <div class="c-container--list">
        <div class="c-list">

          <div class="c-list--item">
            <p class="ribbon4 c-list--item__available">
              <a href="#modal-p01"><i class="fa fa-fw fa-circle-o" aria-hidden="true"></i>たこやき10円引き</a>
              <section class="modal-window" id="modal-p01">
                <div class="modal-inner">
                  <p>ウェエエえええい</p>
                </div>
                <a href="#!" class="modal-close">&times;</a>
              </section>
            </p>
          </div>

          <div class="c-list--item">
            <p class="ribbon4 c-list--item__available"><i class="fa fa-fw fa-circle-o" aria-hidden="true"></i>お好み焼き食べよや</p>
          </div>

          <div class="c-list--item">
            <p class="ribbon4 c-list--item__unavailable"><i class="fa fa-fw fa-times" aria-hidden="true"></i>あああああああ</p>
          </div>

        </div>
      </div>


    </div>
  </body>
</html>
