{% extends 'base.html' %}

{% block content %}
  <div>{{ view.username }} のギークランク</div>
  <div class="c-container--main">
    <div class="c-rank">
      <img class="c-bg c-bg__rank" src="/static/img/rank_{{ view.geek_rank }}.png"></img>
      {{ view.geek_rank_name }}
      <span class="c-rank--point">
        <a data-toggle="modal" data-target="#RankDescriptionModal"><i class="fa fa-question-circle-o" aria-hidden="true"></i></a>
      </span>

    </div>
    <div class="c-rank--point">
      ギークポイント: {{ view.geek_point }}
    </div>
  </div>

  <div class="c-container--list">

    <div class="c-list">
      <a data-toggle="modal" data-target="#KonamonModal">
        <div class="c-list--item">

          <p class="ribbon4 c-list--item__available"><i class="fa fa-fw fa-circle-o" aria-hidden="true"></i>コナモン</p>

        </div>
      </a>
      <div class="c-list--item">

        <p class="ribbon4 c-list--item__available"><i class="fa fa-fw fa-circle-o" aria-hidden="true"></i>オモロイ</p>

      </div>

      <div class="c-list--item">
        
        <p class="ribbon4 c-list--item__unavailable"><i class="fa fa-fw fa-times" aria-hidden="true"></i>アツマロ</p>

      </div>

    </div>
  </div>

  <!-- モーダル -->

  <div class="modal fade" id="RankDescriptionModal">
    <div class="modal-dialog modal-margin">

      <div class="modal-content">
        <div class="modal-header" style="font-size: 10vw">
          ギークランクとは
        </div>
        <div class="modal-body">
          あんさんが github で草生やせば生やすほどギークポイントが増えおって、ぎょーさんなったらギークランクがあがるんや。<br/>
          ギークランクがあがると、大阪での暮らしがどんどん便利にになるさかい、きばりや!<br/>
          あ、そうそう。草生やせば生やすほどゆうても、最近一週間分だけを反映しとるでな、休まずに草生やしたってや!
          <img style="width: 100%;" src="/static/img/geek_rank.png"></img>
        </div>

        
      </div>

    </div>
  </div>

  <div class="modal fade" id="KonamonModal">
    <div class="modal-dialog modal-margin">

      <div class="modal-content">
        <div class="modal-header" style="font-size: 10vw">
          今日のコナモン
        </div>
        <div class="modal-body">
          <img style="width: 10vw" src="/static/img/rank_{{ view.geek_rank }}.png"></img>
          <span style="font-size: 6vw">{{ view.geek_rank_name }} </span>のアンタは
          <br/><br/>
          <div style="font-size: 6vw">
            {% if view.geek_rank == 0 %}

            {% elif view.geek_rank == 1 %}
              たこやき1個無料!
            {% elif view.geek_rank == 2 %}

            {% elif view.geek_rank == 3 %}

            {% elif view.geek_rank == 4 %}

            {% endif %}

          </div>
          <br/>

          <li>おみせ：みのりたこやき</li>
          <li>ばしょ：<a href="#">北区2018丁目3番地9</a></li>

          <hr/>
          <hr/>
          <Div>あしたは... おこのみやき!!</div>
          <hr/>
          <hr/>
          <div style="font-size: 2vw">
            {% if view.geek_rank == 0 %}

            {% elif view.geek_rank == 1 %}
              (ちなみに、次のギークランクやと、たこやき3個無料やってんで)
            {% elif view.geek_rank == 2 %}

            {% elif view.geek_rank == 3 %}

            {% elif view.geek_rank == 4 %}

            {% endif %}
          </div>
        </div>

        
      </div>

    </div>
  </div>
{% endblock %}
