.c-container--btn {
    margin-top: 30px;
}


.c-button {
  display: inline-block;
  width: 60vw;
  height: 10vh;
  text-align: center;
  text-decoration: none;
  outline: none;

  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 2px solid #333;
  color: #333;
  line-height: 10vh;
  overflow: hidden;
  text-decoration: none;
}
.c-button:hover {
  color: #fff;
  text-decoration: none;
}

.c-button:before,
.c-button:after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}

.c-button:after {
  top: 0;
  left: 0;
  width: 60vw;
  height: 10vh;
}

.c-button:hover:after {
  -webkit-transform: scale(2) rotate(180deg);
  transform: scale(2) rotate(180deg);
  background: #333;
}



.c-button,
.c-button:before,
.c-button:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
