.font-xl {
  font-size: $font-headline;
}

.font-lg {
  font-size: $font-large-size;
}

.font-base {
  font-size: $font-base-size;
}

.font-sm {
  font-size: $font-sm-size;
}

.c-panel_title {
  font-size: $font-headline;
  font-weight: 500;
  margin-bottom: 9px;
}

.c-sub_title {
  font-size: $font-large-size;
  font-weight: 500;
  margin-bottom: 9px;
}


/*
---
name: base font
category: font
---
## This is base font

* Base font style.
* Use `div` tag.

```html
<div>
  <h5>フォントサイズ</h5>
  <table class="table">
    <tr>
      <td>
        <div class="font-xl">H1Font 18px</div>
      </td>
      <td>
        <div class="font-xl">見出し1</div>
        <div class="font-xl">ページタイトルが表示されているページのタイトルにのみ用いる(カレンダーページでは、表示期間)</div>
        <div class="font-xl">例外として、助成金パネルボタンの数字にも用いている</div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="font-lg">H2Font 14px</div>
      </td>
      <td>
        <div class="font-lg">見出し2</div>
        <div class="font-lg">ページの中の大きなくくりで使用</div>
        <div class="font-lg">助成金グループ サイドバーの項目 クイックアクセスなど</div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="font-base">normalFont 12px</div>
      </td>
      <td>
        <div class="font-base">基本サイズ</div>
        <div class="font-base">本文など、基本的にこのサイズを用いる</div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="font-sm">smallFont 10px</div>
      </td>
      <td>
        <div class="font-sm">小サイズ</div>
        <div class="font-sm">レイアウト的にこのサイズでないといけない場合のみ使用、できるだけ使わないようにレイアウトを組む</div>
        <div class="font-sm">ホーム/おしらせのリンク カレンダー/締切超過日 サイドバーフッター</div>
      </td>
    </tr>
    <tr><td></td><td></td></tr>
    <tr>
      <td>
        <div class="font-base">その他</div>
      </td>
      <td>
        <div class="font-base">以下には  <strong>太字</strong>  を用いる</div>
        <div class="font-base">フォーム、テーブルの項目名</div>
        <div class="font-base">カレンダーバッジ</div>
      </td>
    </tr>
  </table>
  <h5>フォントカラー</h5>
  <table class="table">
    <tr>
      <td style="color:#000000"><h5>基本色(黒)</h5></td>
    </tr>
    <tr>
      <td><h5><a href="#">リンク/クイックアクセス</a></h5></td>
    </tr>
    <tr>
      <td style="background-color:#000000; color:#ffffff;"><h5>白</h5></td>
    </tr>
    <tr>
      <td class="font-red"><h5>警戒色</h5></td>
    </tr>
    <tr>
      <td class="font-deep-blue"><h5>濃い青</h5></td>
    </tr>
    <tr>
      <td class="font-light-blue"><h5>薄い青</h5></td>
    </tr>
    <tr>
      <td class="font-disable"><h5>無効</h5></td>
    </tr>
  </table>
</div><!-- フォントサイズ -->
```
*/
