.c-bg {

    &__top {
      background-position: center;
      width: 100vw;
      padding: 5vw;
    }

    &__rank {
      background-position: center;
      width: 100px;
      height: 100px;
    }
}
