.c-bg {

    &__top {
      background-position: center;
      width: 500px;
      height: 300px;
    }

    &__rank {
      background-position: center;
      width: 100px;
      height: 100px;
    }
}
