.modal-open,
.modal {
    padding-right: 0px !important;
}

.modal-description {
    margin-bottom: 10px;
    display: flex;
}

.modal-icon {
    color: #205680;
    padding-left: 0;
    width: 13%;
    float: left;
}

.modal-text {
    width: 87%;
    float: left;
}

.modal-margin {
    margin: 22vh 5vw 0 5vw;
    width: 90vw;
    font-size: 4vw;
}
