/* 書類一覧 案件別書類の絞り込み */

#psdocuments {
  width: 200px;
  padding: 0;
  background-color: #F4F5F7;
  li {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    a {
      display: block;
      margin: 0;
      padding: 16px 0;
      font-size: $font-base-size;
      font-weight: bold;
      line-height: 1;
      text-decoration: none;
    }
    ul {
      list-style: none;
      position: absolute;
      z-index: 100;
      left: 0;
      top: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      li {
        overflow: hidden;
        width: 100%;
        height: 0;
        color: #fff;
        transition: .3s;
        a {
          padding: 17px 15px;
          background: #F4F5F7;
          text-align: left;
          font-size: $font-base-size;
          font-weight: normal;
        }
      }
    }
    &:hover > ul > li {
      overflow: visible;
      height: 46px;
    }
    ul li ul {
      top: 0;
      left: 100%;
      li a {
        left: -100%;
        width: 100%;
        background: #F4F5F7;
      }
    }
    &:hover ul li ul li:hover > a {
      background: #FCFDFF;
    }
  }
  > {
    li:hover > a {
      background: #F4F5F7;
    }
    a {
      background-color: #FCFDFF;
    }
    li:hover li:hover > a {
      background: #FCFDFF;
    }
  }
}

/* マウスオン時の親メニュー色の指定 */

/* 子メニューから孫メニューにマウスが移ったときの子メニューの色、
孫メニューからひ孫メニューにマウスが移ったときの孫メニューの色が
元の色に戻らないようにする */

/*
#psdocuments li ul li ul li:before {
  position: absolute;
  content: "";
  top: 13px;
  left: -20px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #454e08;
}

#psdocuments li ul li ul li:before {
  position: absolute;
  content: "";
  top: 13px;
  left: 200%;
  margin-left: -20px;
  border: 5px solid transparent;
  border-right-color: #454e08;
}
*/
