/* 枠線 */
.border-color {
    border-color: #ddd;
}
.border-width {
    border-width: 1px;
}

.border-top {
    border-top-style: solid;
}
.border-right {
    border-right-style: solid;
}
.border-bottom {
    border-bottom-style: solid;
}
.border-left {
    border-left-style: solid;
}
