/* パディング */
.padding0 {
    padding: 0!important;
}

.padding10 {
    padding: 10px;
}

.padding15 {
    padding: 15px;
}

.padding5 {
    padding: 5px;
    margin: 0;
}

.pright5 {
    padding-right: 5px;
}

.pright10 {
    padding-right: 10px;
}

.pright9 {
    padding-right: 10px;
}

.pleft5 {
    padding-left: 5px;
}

.pleft9 {
    padding-left: 9px;
}

.pleft10 {
    padding-left: 10px;
}

.pright0 {
    padding-right: 0;
}

.pleft0 {
    padding-left: 0;
}

.paddingtb5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.paddingb5 {
    padding-bottom: 5px;
}

.padding9 {
    padding: 9px;
}

.paddingtb0 {
    padding-top: 0px;
    padding-bottom: 0px;
}

.paddingtb5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.margin0 {
    margin: 0;
}
.margin4 {
    margin: 4px;
}

.margin9{
    margin: 9px;
}

.margint9 {
    margin-top: 9px;
}

.margint18 {
    margin-top: 18px!important;
}

.marginb4 {
    margin-bottom: 4px;
}

.marginb9 {
    margin-bottom: 9px;
}

.margintb0 {
    margin-top: 0px;
    margin-bottom: 0px!important;
}
